/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* Global Styles */

* {
    color: #AEA8BA;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}

body {
    background-image: url("./images/luca-bravo-XJXWbfSo2f0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* Header Styles */

header {
    background-color: #2d2645;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 8px #000;
    padding: 20px;
}

header h1 {
    margin-right: auto;
    font-size: 2em;
    color: #c6c4ca;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #fff; 
}

/* Profile Pic Styling */

#profilepic {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
    margin: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
}

/* Main Content Styling */

main {
    background-color: #494454;
    padding: 10px;
    margin-top: 10%;
    border: 1px solid black;
    /* display: flex; */
    /* flex-direction: column; */
}

main h2 {
    font-size: 2em;
    margin: 10px;
    padding: 10px;
}

section {
    display: flex;
    /* justify-content: start; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* width: 100%;
    height: 30%; */
}

section p {
    align-self: center;
}

.workcontainer {
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    /* justify-content: flex-start; */
    align-items: center;
    width: 100%;
}

/*.workcontainer a, .workcontainer div {
    width: 100%;
    height: auto;
}*/

.feature.placeholder {
    /* width: 100%; */
    min-width: 75%;
    flex-basis: 400px;
    flex-grow: 1px;
    position: relative;
}

.feature.placeholder span {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 30px;
    background-color: #2d2645;
}

.workcontainer div {
    flex-basis: 350px;
    flex-grow: 1;
}

#sample {
    border: 5px solid #2d2645;
    /* margin: 10px; */
    height: auto;
    width: 100%;
    /* flex-grow: 2; */
}

.placeholder:hover {
    opacity: .5;
}

.placeholder p {
    background: #2d2645;
    padding: 70px 0;
    text-align: center;
    width: 100%;
    height: 200px;
}

section p {
    align-self: center;
}

.workcontainer .placeholder {
    /* width: auto; */
    /* height: 75%; */
    /* margin: 10px; */
    /* background-color: #2d2645; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 300px; */
    padding: 5px;
}

.workcontainer div {
    flex-basis: 350px;
    /* flex-grow: 1;
    width: 50%; */
    min-width: 50%
}

 #contact li {
    display: inline-block;
    padding: 20px;
    list-style: none;
}

 #contact li a:hover {
    color: #fff;
    transition: all 0.3s ease 0s; 
}

@media screen and (max-width:700px) {
    section {
        flex-direction: column;
    }
}